@xero:registry=https://artifactory.xero-support.com/api/npm/npm-dev
registry=https://artifactory.xero-support.com/api/npm/npm-upstream
save-exact=true
@hubdoc:registry=https://artifactory.xero-support.com/api/npm/npm
